<launch>
    <!-- Define as variáveis de ambiente no início do launch -->
    <env name="LIBGL_ALWAYS_SOFTWARE" value="0" />
    <env name="LIBGL_ALWAYS_INDIRECT" value="0" />

    <arg name="sim" default="true" />
    <arg name="rviz" default="true"/>

    <!-- Carregar URDF/Xacro -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find marta_description)/urdf/marta.xacro' use_sim:=$(arg sim) " />

    <!-- Grupo para simulação -->
    <group if="$(arg sim)">
        <include file="$(find marta_gazebo)/launch/gazebo.launch" />

        <!-- Inicia o broadcast das juntas -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="log">
            <remap from="/joint_states" to="/marta/joint_states"/>
        </node>

        <node pkg="marta_gazebo" type="real_to_sim_topics.py" name="sim_convert_topics" output="screen"/>
    </group>

    <node pkg="marta_controller" type="imu_node" name="imu_node" output="screen">
    </node>

    <node pkg="marta_controller" type="levante_tras.py" name="levante_tras" output="screen">
    </node>

    <node pkg="marta_controller" type="levante_frente.py" name="levante_frente" output="screen">
    </node>

    <node pkg="ball_tracking" type="ball_tracking.py" name="ball_tracking" output="screen">
    </node>

    <node pkg="ball_tracking" type="servo_angles.py" name="servo_angles" output="screen">
    </node>

    <!-- Grupo para não simulação -->
    <group if="$(eval not arg('sim'))">
        <node pkg="marta_bringup" type="joint_to_tf_publisher" name="joint_to_tf_publisher" output="screen" />
    </group>

    <!-- Nó para diagnóstico do IMU -->
    <node pkg="marta_bringup" type="imu_diagnostic.py" name="imu_diagnostics" output="screen">
        <param name="imu_topic" value="/marta/imu" />
        <param name="imu_update_frequency" value="50.0" />
    </node>

    <!-- Configuração do diagnostic_aggregator -->
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" output="screen">
        <rosparam command="load" file="$(find marta_bringup)/config/diagnostic_aggregator.yaml" />
    </node>

    <!-- Grupo para iniciar o RViz com as flags ajustadas -->
    <group if="$(arg rviz)">
        <!-- Sobrescreve as variáveis de ambiente para o RViz -->
        <env name="LIBGL_ALWAYS_SOFTWARE" value="1" />
        <env name="LIBGL_ALWAYS_INDIRECT" value="0" />
        <include file="$(find marta_gazebo)/launch/rviz.launch"/>
    </group>

    <!-- Inclusão do script tf_to_cm -->
    <node pkg="marta_bringup" type="tf_to_cm" name="tf_to_cm" output="screen" />
</launch>
